.services {
    .content-box {
        max-width: 674px;
    }

    .services-row {
        display: flex;
        justify-content: space-between;
        margin-bottom: 184px;
    }

    .services-row-reverse {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
    }
}