.services {
    .content-box {
        max-width: 600px;
    }

    .services-row {
        display: flex;
        justify-content: space-between;
        margin-bottom: 184px;
    }

    .services-row-reverse {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;

        p {
            margin-bottom: 48px;
        }
    }

    ul {
        margin-bottom: 48px;
    }

    li {
        list-style-type: disc;
        line-height: 1.5;
        margin-left: 36px;
    }

    p {
        margin-bottom: 10px;
    }
}