///fonts///
$font-primary: 'Montserrat';
$font-secondary:  "monospace";
$font-size: 20px;

///colors///
$primary-color: #222;
$secondary-color: #f00;
$bg-color: #ffffff;
$text: #000000;
$title-color: #1178B2;
