///fonts///
$font-primary: 'Montserrat';
$font-secondary:  "monospace";
$font-size: 20px;

///colors///
$primary-color: #07AF91;
$secondary-color: #1178B2;
$third-color: #0E6082;
$bg-color: #ffffff;
$text: #000000;
$text-header-color: #ffffff;
$title-color: #1178B2;
