<header>
    <div class="image-container">
        <img src="./assets/img/header-desktop.avif" alt="header">
        <div class="title">
            <h1>
                DentalTour
            </h1>
        </div>
        <div class="subtitle">
            <h2>
                "Стоматологічні тури до Грузії – <br> якісно, доступно, з повним супроводом"
            </h2>
            <h3>
                Організуємо ваше лікування зубів у Грузії: <br>від першої консультації до повернення додому
            </h3>
            <a href="#" class="btn btn-secondary">Отримати безкоштовну консультацію</a>
        </div>
    </div>
</header>

