<header>
    <div class="image-container">
        <img src="./assets/img/header-desktop.avif" alt="header">
        <div class="title">
            <img src="./assets/img/logo-200-1.png" alt="logo">
            <h1>
                DentalTour
            </h1>
        </div>
        <div class="subtitle">
            <h2>
                &nbsp;"Стоматологічні тури до Грузії – &nbsp;&nbsp;&nbsp;
                &nbsp;якісно, доступно, з повним супроводом"&nbsp;
            </h2>
            <h3>
                Організуємо ваше лікування зубів у Грузії: &nbsp;&nbsp;&nbsp;
                від першої консультації до повернення додому
            </h3>
            <div class="btn-header">
                <a href="#" class="btn btn-secondary">Отримати безкоштовну консультацію</a>
            </div>
        </div>
        
    </div>
</header>

