<div class="container">
    <section class="services">
        <h2 class="template-title">Наші послуги</h2>
        <div class="services-row">
            <div class="content-box">
                <h6>Всі види протезування</h6>
                <p>Ви зможете вирішити всі ваші проблеми стосовно протезування зубів:</p>
                <ul>
                    <li>зйомні та незйомні протези</li>
                    <li>металокераміка та цирконій</li>
                    <li>акрілові зйомні протези</li>
                </ul>
                
                <a href="#" class="btn btn-primary">Подробиці</a>
            </div>
            <div class="image-box">
                <img src="./assets/img/services-1.png" alt="services">
            </div>
        </div>
        <div class="services-row-reverse">
            <div class="content-box">
                <h6>Висока якість за доступну ціну</h6>
                <p>Завдяки тому, що лікування буде проводитися в Грузії, вся робота буде зроблена якісно і за помірну ціну.</p>
                <p>Ви будете приємно здивовані ціною, в кілька разів нижчою, ніж в Європі.</p>
                <a href="#" class="btn btn-primary">Подробиці</a>
            </div>
            <div class="image-box">
                <img src="./assets/img/services-2.png" alt="services">
            </div>
        </div>
    </section>
</div>