<div class="container">
    <section class="services">
        <h2 class="template-title">Наші послуги</h2>
        <div class="services-row">
            <div class="content-box">
                <h6>Аналітичні дослідження</h6>
                <p>Одним із наших ключових напрямів є аналіз технологічних трендів на міжнародних ринках. Ми проводимо аналіз на основі публічних досліджень McKinsey, BCG, PWC, Deloitte, Accenture, BCG, EY, Crunchbase, Dealroom, F6S, PitchBook, а також агрегуємо та аналізуємо дані з відкритих міжнародних джерел патенти, медіа, наукові публікації</p>
                <a href="#" class="btn btn-primary">Подробиці</a>
            </div>
            <div class="image-box">
                <img src="./assets/img/services-1.png" alt="services">
            </div>
        </div>
        <div class="services-row-reverse">
            <div class="content-box">
                <h6>Онлайн акселератор для IT бізнесу</h6>
                <p>Онлайн програма аскелерації IT бізнесу дозволить вашій команді відкрити нові обрії та можливості для бізнесу на глобальних ринках. В результаті програми ви отримаєте можливість презентувати свій проект для міжнародних інвесторів та локальних партнерів</p>
                <a href="#" class="btn btn-primary">Подробиці</a>
            </div>
            <div class="image-box">
                <img src="./assets/img/services-2.png" alt="services">
            </div>
        </div>
    </section>
</div>