<div class="container">
    <section class="who-we-are">
        <h2 class="template-title">Хто ми?</h2>
            <div class="services-row">
                <div class="content-box">
                    <div class="content-description">
                        <p>
                            DentalTour – ваш надійний партнер у сфері стоматологічного туризму. 
                        </p>
                        <p>
                            Ми працюємо тільки з перевіреними клініками у Тбілісі, Кутаісі та Ґорі.
                        </p>
                        <p>
                            Проживання на ваш вибір: від бюджетного помешкання до номеру престижному готелі.
                        </p>
                        <p>
                            Ціни в кілька разів нижчі, ніж в ЄС. При високій якості лікування.
                        </p>
                    </div>
                </div>
                <div class="image-box">
                    <img src="./assets/img/who-we-are-640.png" alt="who-we-are">
                </div>
            </div>
            <div class="grid-cart">
                <div class="div1">
                    <svg>
                        <use href="#checks"></use>
                    </svg>
                    <p>
                        Висока якість лікування
                    </p>
                </div>
                <div class="div2">
                    <svg>
                        <use href="#hospital"></use>
                    </svg>
                    <p>
                        20+ клінік-партнерів
                    </p>
                </div>
                <div class="div3">
                    <svg>
                        <use href="#users-four"></use>
                    </svg>
                    <p>
                        1000+ задоволених клієнтів
                    </p>
                </div>
                <div class="div4">
                    <svg>
                        <use href="#airplane"></use>
                    </svg>
                    <p>
                        Безпечний і комфортний супровід
                    </p>
                </div>
                <div class="div5">
                    <svg>
                        <use href="#currency-eur"></use>
                    </svg>
                    <p>
                        Значно нижчі ціни, ніж у ЄС
                    </p>
                </div>
                <div class="div6">
                    <svg>
                        <use href="#headset"></use>
                    </svg>
                    <p>
                        Персональний координатор Підтримка 24/7
                    </p>
                </div>
                </div>
    </section>
</div>